/*
 * Innovator Dev - Passion for technology
 *
 * @link https://innovator.dev
 * Copyright 2021-2023 Innovator Dev. All rights reserved.
 */

// Footer
footer {
  padding: 3em 0 2em;
  margin: 1em auto;
  color: var(--text-color-white);
  font-size: 1em;
  text-align: center;

  @media (min-width: @mediaQueryMedium) {
    text-align: left;
  }

  // Copyright paragraph
  p:nth-child(2) {
    font-size: .8em;
  }
}