/*
 * Innovator Dev, passion for innovation
 *
 * @link https://innovator.dev
 * @author Eugen Bușoiu
 *
 * Copyright 2021-2022 Innovator Dev. All rights reserved.
 */

// Footer
footer {

  padding: 1.5em 0;
  margin: 1em auto;
  color: @textColorWhite;
  font-size: .9em;
  text-align: center;

  @media (min-width: @mediaQueryMedium) {
    text-align: right;
  }
}