/*
 * Innovator Dev - Passion for technology
 *
 * @link https://innovator.dev
 * Copyright 2021-2023 Innovator Dev. All rights reserved.
 */

// Header
header {
  padding: 2em 0 1em;

  @media (min-width: @mediaQueryMedium) {
    padding: 4em 0 3em;
  }

  // Container
  .container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;

    @media (min-width: @mediaQuerySmall) {
      flex-flow: row nowrap;
      justify-content: flex-start;
    }

    // Navigation
    nav {
      display: none;

      @media (min-width: @mediaQueryMedium) {
        display: block;
        .grid;
        text-align: right;
        margin: 0;
      }

      ul {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-evenly;

        @media (min-width: @mediaQueryMedium) {
          justify-content: flex-end;
        }

        li {
          font-size: 1.1em;
          min-width: 40%;

          @media (min-width: @mediaQueryMedium) {
            margin: 0 0 0 1.5em;
            min-width: auto;

            &:nth-child(1) {
              margin: 0;
            }
          }

          &.separator {
            padding-left: 1.5em;
            margin-left: 1.5em;
            border-left: 1px dotted var(--separator-line);
          }

          a {
            display: block;

            @media (min-width: @mediaQueryMedium) {
              display: inline-block;
            }
          }
        }
      }
    }

    // Slide menu button
    .btn-menu {
      display: inline-block;

      font-size: 2em;
      border-radius: 0;
      padding: .75em .5em;
      background-color: transparent;
      color: var(--text-color-white);

      @media (min-width: @mediaQueryMedium) {
        display: none;
      }
    }

    // Slide menu
    .slide-menu {
      display: none;

      @media (min-width: @mediaQueryMedium) {
        display: inline-block;
      }

      // Slide menu close button
      .btn-slide-close {
        @media (min-width: @mediaQueryMedium) {
          display: none;
        }
      }
    }

    // Logo
    .logo {
      margin: 0 auto;
      .grid(8);

      @media (min-width: @mediaQueryMedium) {
        margin: 0;
        .grid(2.5);
      }

      img {
        .grid;
      }

      // Smaller logo
      &.logo-sm {
        .grid(8);

        @media (min-width: @mediaQueryMedium) {
          .grid(2.5);
        }
      }
    }
  }
}