/*
 * Innovator Dev, passion for innovation
 *
 * @link https://innovator.dev
 * @author Eugen Bușoiu
 *
 * Copyright 2021-2022 Innovator Dev. All rights reserved.
 */

// Header
header {
  padding: 1.5em 0;

  @media (min-width: @mediaQueryMedium) {
    padding: 4em 0 3em;
  }

  // Container
  .container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    @media (min-width: @mediaQuerySmall) {
      flex-flow: row nowrap;
      justify-content: flex-start;
    }

    // Navigation
    nav {
      .grid;
      text-align: right;

      ul {

        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;

        @media (min-width: @mediaQueryMedium) {
          justify-content: flex-end;
        }

        li {
          font-size: 1.1em;

          @media (min-width: @mediaQueryMedium) {
            margin: 0 0 0 1em;

            &:nth-child(1) {
              margin: 0;
            }
          }

          &.separator {
            padding-left: 1.1em;
            margin-left: 1.1em;
            border-left: 1px dashed @color9;
          }
        }
      }
    }
  }
}