/*
 * Innovator Dev - Passion for technology
 *
 * @link https://innovator.dev
 * Copyright 2021-2023 Innovator Dev. All rights reserved.
 */

// Main
main {
  flex-grow: 1;
  padding: 1em 0;
  color: var(--text-color-white);
  .grid;

  // Container
  .container {

    // Level 1 heading
    h1 {
      display: table;
      font-size: 2em;
      font-weight: 300;
      line-height: 1.35em;
      margin: 0 auto .75em;

      @media (min-width: @mediaQueryMedium) {
        display: block;
      }

      // Labeled heading
      &.labeled {
        position: relative;

        &:after {
          position: absolute;
          top: -26px;
          left: 0;

          .grid;
          content: attr(data-label);
          font-size: .3em;
          text-transform: uppercase;
          line-height: 1.2em;
          letter-spacing: 1px;
          background: var(--logo-color-secondary);
          padding: .6em .8em;
          border-radius: .25em;

          @media (min-width: @mediaQueryMedium) {
            width: auto;
          }
        }
      }
    }

    // Level 2 heading
    h2 {
      position: relative;
      display: table;
      font-size: 1.3em;
      margin: .5em auto .75em;
      // text-transform: uppercase;

      &:nth-of-type(1) {
        margin: 0 auto 1em;
      }

      @media (min-width: @mediaQueryMedium) {
        display: inline-block;
      }

      &[data-icon] {
        &:before {
          display: inline-block;
          vertical-align: middle;
          margin-right: .5em;
          font-size: .85em;
        }
      }
    }

    // Paragraphs
    p {
      // margin: 0 auto 1.25em;
      line-height: 1.8em;
    }

    // Lists
    & > ul {
      margin: 0 1.5em;
      list-style: disc;

      li {
        color: var(--text-color-white);
        line-height: 1.75em;

        &::marker {
          color: var(--logo-color);
          font-size: .9em;
        }
      }
    }

    // Image
    & > img {
      display: block;
    }
  }
}