/*
 * Innovator Dev, passion for innovation
 *
 * @link https://innovator.dev
 * @author Eugen Bușoiu
 *
 * Copyright 2021-2022 Innovator Dev. All rights reserved.
 */

section {

  // Home page section
  // Motto
  &.turn-ideas-into-business-value {
    position: relative;
    color: @textColorWhite;

    // Paragraph
    p.summary {
      color: @textColorWhite;
      font-size: 1.35em;

      margin: 1.5em 0;
      line-height: 1.55em;

      text-align: center;

      strong {
        font-size: 1.25em;
        color: @textColorWhite;
        border-bottom: 4px solid @color2;
      }

      @media (min-width: @mediaQueryMedium) {
        .grid(8);
        text-align: left;
      }
    }

    // Heading
    /*h1 {

    }

    h2 {
      font-size: 1.2em;
      margin-bottom: .75em;
      text-transform: uppercase;
      color: @color1;
    }

    h3 {
      margin: 1em auto .25em;

      &:nth-child(1) {
        margin: 0 auto .25em;
      }
    }*/
  }

  // Customer case
  &.customer-cases {

    // Box
    .box {

      border-radius: .35em;
      border: 1px dashed @color2;

      background-color: rgba(0, 0, 0, .1);
      width: 200px;
      height: 200px;

      cursor: pointer;

      &:hover{
        background: rgb(37,46,59);
        background: linear-gradient(180deg, rgba(37,46,59,1) 13%, rgba(37,46,59,0.828981714756215) 96%);
      }
    }
  }
}