/*
 * Innovator Dev - Passion for technology
 *
 * @link https://innovator.dev
 * Copyright 2021-2023 Innovator Dev. All rights reserved.
 */

[data-icon]:before {
  display: table-cell;
  font-family: 'innovatordev';
  font-variant: normal;
  font-size: inherit;
  font-weight: normal;
  font-style: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: .6;
  content: attr(data-icon);
  vertical-align: middle;
}