/*
 * Innovator Dev - Passion for technology
 *
 * @link https://innovator.dev
 * Copyright 2021-2023 Innovator Dev. All rights reserved.
 */

// Navigation
nav {

  // Buttons navigation
  &.nav-buttons {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;

    .grid;
    margin: 2em auto 0;

    @media (min-width: 424px) {
      justify-content: space-around;
    }

    @media (min-width: @mediaQueryMedium) {
      flex-flow: row nowrap;
      justify-content: flex-start;
    }

    &.nav-no-margin {
      margin: 0 auto;
    }

    &.nav-keep-width {
      flex-flow: row wrap;
      justify-content: center;

      input[type=submit], input[type=button], input[type=reset], button, a.btn {
        width: auto;
        margin: 0 0 0 1.25em;

        &:nth-child(1) {
          margin: 0;
        }
      }

      @media (min-width: @mediaQueryMedium) {
        justify-content: flex-start;
      }
    }

    input[type=submit], input[type=button], input[type=reset], button, a.btn {
      .grid;
      margin: 1em auto 0;

      @media (min-width: @mediaQueryMedium) {
        width: auto;
        margin: 0 0 0 1em;
      }

      &:first-child {
        margin: 0;
      }

      // Move to right
      &.ml {
        margin-left: auto;
      }

      &.mr {
        margin-right: auto;
      }
    }
  }
}

// Text hide
.text-hide {
  font: ~"0/0" a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

// Show/Hide
.hide {
  display: none;
}

.show {
  display: block;
}

// Floats
.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

// Text alignment
.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-upper {
  text-transform: uppercase;
}

.text-lower {
  text-transform: lowercase;
}

.text-cap {
  text-transform: capitalize;
}

.text-colored {
  color: var(--color);
}

.text-highlight {
  position: relative;
  z-index: 0;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    border-bottom: 2px solid var(--text-color-highlight);
    z-index: -1;
  }
}