/*
 * Innovator Dev - Passion for technology
 *
 * @link https://innovator.dev
 * Copyright 2021-2023 Innovator Dev. All rights reserved.
 */

.about-page {

  // Main
  main {

    // Container
    .container {

      & > p {
        color: var(--text-color-white);
        font-size: 1.1em;

        margin: 0 0 1.5em;
        line-height: 1.55em;
        text-align: center;

        strong {
          position: relative;
          font-size: 1.1em;

          &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;

            width: 100%;
            border-bottom: 8px solid var(--blue);
            z-index: -1;
          }
        }

        @media (min-width: @mediaQueryMedium) {
          text-align: left;
        }

        @media (min-width: @mediaQueryLarge) {
          .grid(10);
        }

        @media (min-width: @mediaQueryExtraLarge) {
          .grid(8);
        }
      }
    }
  }
}