/*
 * Innovator Dev - Passion for technology
 *
 * @link https://innovator.dev
 * Copyright 2021-2023 Innovator Dev. All rights reserved.
 */

// AWS S3 bucket path
@S3: 'https://s3.innovator.dev/';

// Devices
// Small devices (landscape phones, 576px and up)
@mediaQuerySmall: 576px;
// Medium devices (tablets, 768px and up)
@mediaQueryMedium: 768px;
// Large devices (desktops, 992px and up)
@mediaQueryLarge: 992px;
// Extra large devices (large desktops, 1200px and up)
@mediaQueryExtraLarge: 1200px;
// HD
@mediaQueryExtraLarge2x: 1400px;
// QHD
@mediaQueryExtraLarge3x: 1600px;
// Full HD
@mediaQueryExtraLarge4x: 1900px;

// Cover
@theCover: "app.cover/221202/cover";
@cover: "@{S3}@{theCover}.jpg";
@cover-sm: "@{S3}@{theCover}-sm.jpg";

// Colors
:root {
  --logo-color: #1dbcf0;
  --logo-color-secondary: #3c78a2;

  --background-color: rgba(248, 248, 248, 1);
  --text-color: #222;
  --text-color-white: #fff;

  --anchor-color: #777;
  --anchor-color-hover: darken(#777, 4%);

  --button-default-background-color: #f1f1f1;
  --button-default-background-color-hover: darken(#f1f1f1, 5%);
  --button-default-text-color: #222;

  --button-primary-background-color: #5f9ae2;
  --button-primary-background-color-hover: darken(#5f9ae2, 5%);
  --button-primary-text-color: #fff;
  --button-primary-text-color-bordered: #222;

  --button-secondary-background-color: #2963a8;
  --button-secondary-background-color-hover: darken(#2963a8, 5%);
  --button-secondary-text-color: #fff;
  --button-secondary-text-color-bordered: #222;

  --button-transparent-background-color: transparent;
  --button-transparent-background-color-hover: transparent;
  --button-transparent-text-color: #fff;
  --button-transparent-border-color: transparent;
  --button-transparent-border-color-hover: rgba(85, 100, 114, 1);

  --button-disabled-background-color: rgba(85, 100, 114, .3);
  --button-disabled-background-color-hover: darken(rgba(85, 100, 114, .3), 7%);
  --button-disabled-text-color: #fff;

  --separator-line: #777;

  --home-page-background-color: rgba(229, 236, 241, 1);

  --whatsapp-background-color: #25d366;
  --whatsapp-background-color-hover: darken(#25d366, 4%);

  --color-slide-menu-background-color: rgba(0, 0, 0, .95);

  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #ffffff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --black: #000;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
}